/* body {
    font-family: 'Caveat', cursive;
} */

:root {
    --transition: all 0.3s linear;
}

section {
    background-color: white;
}

.hamburger {
    display: none;
    transition: var(--transition);
}

.hamburger:focus {
    outline: 0;
}

.hamburger:hover {
    /* color: var(--clr-primary-1); */
    transform: rotate(90deg);
    transition: var(--transition);
}

.about-link {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-link:hover {
    font-weight: bold;
    padding-right: 1rem;
    transition: var(--transition);
}  

.projects-link:hover {
    font-weight: bold;
    padding: 1rem;
    transition: var(--transition);
}  

.contact-link:hover {
    font-weight: bold;
    padding-left: 1rem;
    transition: var(--transition);
}  

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}


ul {
    display: flex;
    height: auto;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
}

li {
    /* width: 200px; */
    text-decoration: none;
    justify-content: space-between;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin-top: 0;
    font-size: 30px;
    /* font-weight: 700; */
}

.hero-area {
    background-image: linear-gradient(to right,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/bg.jpg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #000; */
    color: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-area p {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 0.5rem;
}

.typed-text {
    font-weight: normal;
    color: #dd7732;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #ccc;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent;}
    99% { background-color: transparent;}
    100% { background-color: #ccc; }
}

.projects-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(182, 178, 178);
    margin: 10px;
    align-items: center;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-image {
    margin-top: 80px;
    width: 150px;
    /* border-radius: 125px; */
}

.subtext {
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #24111f;
}

a {
    text-decoration: none;
    color: white;
}

.headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headshot {
    width: 150px;
    border-radius: 150px;
}

.aboutme-section {
    text-align: center;
    padding: 80px;
}

.information {
    font-size: 25px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

.socials {
    display: flex;
    padding-bottom: 200px;
    justify-content: space-around;
    margin-top: 50px;
}

#contact-me {
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
        transition: var(--transition);
    }

    ul {
        display: none;
        background-color: #2d2e3a;
        margin: 0px;
    }
    
    ul.show {
        display: block;
        transition: var(--transition);
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2d2e3a;
    }

    .show a:hover {
        /* background: var(--clr-primary-8);
        color: var(--clr-primary-5); */
        padding-left: 1rem;
    }


    /* #nav-list {
        height: 0;
        overflow: hidden;
        transition: var(--transition);
    } */
    
    /* .show {
        height: 4.3rem;
        transition: var(--transition);
    }     */

    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}
